.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img{
     width: 10vmax;
}
.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vmax;
    margin: 5vmax 0;
  
}

.login-box .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box .header-container h1 {
    margin: 0;
    font-size: 2vmax;
}

.login-box .header-container p{
    font-size: 0.8vmax;
    color: #797979;
    font-weight: 500;
}

.signin-signup-toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    width: 100%;
    border-radius: 15px;
    /* padding: 5px; */
    padding: 0.4vmax;
    margin-top: 30px;
  
}

.tab {
    cursor: pointer;
    /* padding: 10px; */
    padding: 0.6vmax;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
    width: 50%;
    text-align: center;
    font-weight:500;
    font-size: 1vmax;
}

.active {
    background-color: #fff;
    color: #000;
    text-align: center;
}

.loginEmail{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2vmax;
}

.loginEmail > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.267);
    border-radius: 15px;
    font-weight: 300;
    font-size: 0.9vmax;
    outline: none;
}

.loginEmail > svg{
    position: absolute;
    transform: translateX(-8vmax);
    font-size: 1.3vmax;
    font-weight: 100;
}

.loginEmail > div{
    position: absolute;
    transform: translateX(-6.5vmax);
    height: 2vmax; 
    border-left: 2px solid rgba(0,0,0,0.267); 
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2vmax;
}
.btn-container button{
    border: none;
    width: 100%;
    border-radius: 15px;
    padding:1vmax;
    background-color: #0266FF;
    font-weight: 500;
    color: #fff;
    font-size: 1vmax;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.btn-container button:hover{
    transform: scale(0.9);
}

.join-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.join-text-container p{
    font-size: 0.8vmax;
    color: #797979;
    font-weight: 500;
}

.join-text-container a{
    text-decoration: none;
    color: #9200AA;
    font-weight: 500;
}

.arc {
    position: absolute;
    bottom: -8vmax;
    left: -8vmax;
    width: 12vmax;
    height: 12vmax;
    border: 1.5vmax solid #9200AA;
    border-radius: 100%;
    transform: rotate(180deg);
  }


.login-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.login-image-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}




